#root {
    -fx-background-color: #1a2a33;
}

#backBtn {
    -fx-background-radius: 16px;
    -fx-background-color: #31c3bd;
    -fx-pref-width: 60px;
    -fx-pref-height: 40px;
    -fx-effect: innershadow(three-pass-box,#1d716e, 0, 0, 0, -6);
}

.scroll-pane{
   -fx-background-color:transparent;
}

.scroll-pane > .viewport { 
   -fx-background-color: transparent;
}

.sessionContainer {
    -fx-background-radius: 16px;
    -fx-background-color: #1f3641;
    -fx-effect: innershadow(three-pass-box, rgb(15, 25, 30), 0, 0, 0, -10);
}

.resumeBtn {
    -fx-background-radius: 16px;
    -fx-background-color: #f2b137;
    -fx-pref-width: 80px;
    -fx-pref-height: 40px;
    -fx-effect: innershadow(three-pass-box,#b77c0c, 0, 0, 0, -6);
}

.info{
    -fx-background-radius: 16px;
    -fx-background-color: #1a2a33;
}

.text {
    -fx-text-fill: #a8bfc9;
    -fx-font-weight: 900;
    -fx-opacity: 0.5;
}